body{
    background-color: rgb(244, 237, 227);
}
#header h1{
    text-align: center;
    font-size:50px;
    background-image: url('img/sumikko.PNG');
    background-position: center 380px;
}

#container {
    width: 75%;
    margin: 0px auto; /*上下 左右*/
    /* background: url(img/bg.png) repeat-y center;
    position:relative;
    padding: 20px */
}
#content{
    float:left;
    width: 80%;
}
#content h2{
    background-color: #4a69bd;
    color: #fff; 
    text-indent: 12px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    letter-spacing: 5px;
}
#content table{
    width: 100%;
    text-align: center;
    border-color: #4a69bd;
    border-style: dotted;
    border-width: 5px;
}
#content li{
    color: #4a69bd;
    font-weight: bold;
}
#content ul li ul li{
    color: #000;
    font-weight: lighter;
}
#content td img{
    width: 150px;
    background-color: #4a69bd;
}
/*Spotify*/
.spotify{
    text-decoration: none;
    background-color: #000;
    color: #1ed760;
}
.spotify:hover{
    background-color: #1ed760;
    color: #000;
    text-decoration: underline;
}

/*link1*/
#link1 h3{
    background-color:lightblue;
    text-align: center;
    display: inline-block;
    padding: 3px;
    margin:10px;
}
#link1 p{
    font-size: 16px;
    text-indent: 2em;
    margin: auto 2em;
}
/*link2*/
#link2 ul{
    list-style:upper-roman
}
#link2 li{
    font-weight: bold;
    font-size: 18px;
    color: #4a69bd;
}
#link2 p{
    font-size: 16px;
}
/*link3*/
#link3 table{
    border-style:dashed;
    width:100%;
}
#link3 tr:nth-of-type(1){
    background-color: #88c8e4;
    color: #fff;
}
#link3 table td:nth-of-type(1)
 {
    width:25%;
}
#link3 table td:nth-of-type(4)
 {
    width:20%;
}
#link3 table tr:nth-of-type(even) {
    background-color: #d1d8e0;
}
#link3 a{
    text-decoration:none;
    color: #4a69bd;
    background-color: #fff;
}
#link3 a:hover{
    background-color: #4a69bd;
    color: #fff;
    text-decoration: underline;
}
/*link4*/
#link4{
    background-color:#8d9fcfaf
}
#link4 table{
    border-style:none;
}
#contact ul{
    list-style:none;
    background-color: #4a69bd;
} 
#contact{
    text-align: center;
    margin-bottom: 5rem;
    font-size:20px;
}
#contact > li{
    display: inline-block; 
    position: relative;
    cursor: pointer;
    margin: 0 1em;
}
#link4  .list-appear{
    display: none;   
    position: absolute; 
    top: 22px; 
    left: 0px;
    padding-left: 0;
    text-align: left;
}
#link4  li, #link4 a{
    background-color: #fff;
    color: #4a69bd;
}
#link4 li:hover, #link4 a:hover{
    background-color: #4a69bd;
    color: #fff;
}
#link4 .list-appear {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    text-align: left;
    background-color: #fff;
}
#link4 li:hover .list-appear {
    display:block;
}

#contact-pix{
    display: block;
    margin: 2rem auto;
    text-align: center;
}
#contact-pix img{
    width:110px;
}
#vmenu {
    background-color: #d1d8e0;
    width: 12%;
    text-decoration:none;
    padding: 10px;
    position:fixed;
    top: 140px; 
    right:13%;
    border-radius: 10px;
}
#vmenu h2{
    text-align: center;
    color:#4a69bd;
    margin-bottom: 0px;
}
ul.iconc {
  list-style-image: url(img/icon.png);
  font-size: 18px;
}

.list-appear{
    display: none;
}
#vmenu a{
    background-color: #fff; 
    color:#4a69bd;
    text-decoration:none;
}
#vmenu li:hover {
    background-color: #4a69bd; 
    color:#fff;
    text-decoration:underline;
}
#vmenu li:hover .list-appear {
    display:block;
    list-style-type:none
}

.left{
    text-align: left;
}
.line-through{
    text-decoration:line-through;
}
#Hamilton{
    background-color: antiquewhite;
}
#Hamilton h3{
    background-color: #764800;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent:5px;
}
#Hamilton p{
    font-size: 16px;
    text-indent: 2em;
}

.italic{
    font-style: italic;
}


/*recommend*/
.button-style{
    background-color:#d1d8e0;
    color:#000;
    font-size: 20px;
    border-style:dotted;
    border-radius: 50%;
    height:150px;
    width:150px;
    position:fixed;
    top: 200px; 
    right:13%;
    
}
.button-style:hover{
    background-image:url(/img/sumikko_one.PNG);
    border-style:double;
    box-shadow: 10px 10px 10px gray; 
}

.pix img{
    height:230px;
    border-radius: 10px;
}
.pix img:hover{
    border-style:double;
    box-shadow: 10px 10px 10px gray; 
}